@model Recipe
@{
    ViewData["Title"] = "Recipes // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Recipe Details</h1>
    <table class="table table-bordered table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.recipeID</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.recipeName</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.recipeDesc</td>
    </tr>
    <tr>
        <td>Prep Time</td>
        <td>@Model.recipePrepTime</td>
    </tr>
    <tr>
        <td>Cooking Time</td>
        <td>@Model.recipeCookTime</td>
    </tr>
     <tr>
        <td>Servings</td>
        <td>@Model.Servings</td>
    </tr>
     <tr>
        <td>Ingredients</td>
        <td>@Model.Ingredients</td>
    </tr>
     <tr>
        <td>Method</td>
        <td>@Model.Method</td>
    </tr>
</table>
</div>